<div style="background-color: #2780E3; ">
    <div style="color: white;padding-top: 10px;padding-left: 2%;margin-right: 5%" class="row">
        <div class="col">
            <h4 class="card-title" Style="color:white"><b>Mas información de la empresa</b></h4>
            <p class="card-text">
                <b></b>  
            </p>
        </div>
        <div class="col">
            <h4 class="card-title" Style="color:white"><b>Redes sociales</b></h4>
            <p class="card-text">
                <img src="assets/img/icon/facebook.png" style="width: 20px;">
                <label><a href="https://es-es.facebook.com/CableRoyTienda/" style="color: white">Siguenos en Facebook</a></label>
                <br/>
                <img src="assets/img/icon/twitter.png" style="width: 20px;">
                <label><a href="https://twitter.com/CableRoy1?lang=es" style="color: white">Siguenos en Twitter</a></label>
                <br/>
                <!--<img src="assets/img/icon/instagram.png" style="width: 20px;">
                <label><a href="https://es-es.facebook.com/CableRoyTienda/" style="color: white">Siguenos en Instagram</a></label>
                <br/>
                <img src="assets/img/icon/google-plus.png" style="width: 20px;">
                <label>Siguenos en Google Plus</label>
                <br/>
                <img src="assets/img/icon/pinterest.png" style="width: 20px;">
                <label>Siguenos en Pinteres</label>-->
            </p>
        </div>
        <div class="col">
            <h4 class="card-title" Style="color:white"><b>Datos de contacto</b></h4>
            <p class="card-text">
                13420 Malagón (Ciudad Real)
                <br/> Avenida Fundadores Cooperativa nº 39
                <br/><br/> Teléfono: 926 09 72 97
                <br/> Móvil: 694 44 11 99
                <br/> Email: fjmonroy@cableroy.com
            </p>
        </div>
    </div>

    <div style="width: 100%;min-height: 50px; background-color: black; padding-left: 2%; padding-right: 2%; padding-top: 10px">
        <span style="color: white;">&copy; 2019 todos los derechos reservados: </span>
    </div>
</div>