<div style="padding-left: 5%;padding-right: 5%">
    <h3>TARIFAS HABLA Y NAVEGA 4G MOVISTAR</h3>
    <h5>DISFRUTA DE NUESTRA MÁXIMA VELOCIDAD</h5>
    <hr style="color: #2780E3" size="5" />
    <div style="background-image: url('assets/img/fondos/1.jpg');width: 100%;margin-bottom: 2%;padding-top: 3%;padding-bottom: 3%">
        <div style="padding-left: 5%;padding-right: 5%">
            <div class="row justify-content-center ">
                <div class="col-6 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">SOTA +</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">11,75€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> ilimitadas</p><br/>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 3GB
                        </p>
                        <div style="padding: auto" id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-md-3" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">CABALLO +</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">15,75€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> ilimitadas + 100 min internacionales</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 6GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">CABALLO DE OROS</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">19,75€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> ilimitadas
                        </p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 10GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">REY +</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">22,75€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> ilimitadas + 200 min internacionales</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 20GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>NUESTRAS TARIFAS DE MOVIL</h3>
    <h5>ELIJE LA TARIFA QUE MÁS SE AJUSTE A TUS NECESIDADES</h5>
    <hr style="color: #2780E3" size="5" />
    <div style="background-image: url('assets/img/fondos/1.png');width: 100%;margin-bottom: 2%;padding-top: 5%;padding-bottom: 5%">
        <div style="padding-left: 5%;padding-right: 5%">
            <div class="row justify-content-between" id="0min">
                <div class="col-6 col-sm-4 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title" Style="color: #2780E3; text-align: center; font-weight: bold">SIN MINUTOS </h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold">1,5€/mes</h3>
                        <p class="lead" Style="text-align: center; font-weight: bold"> <span style="font-weight: bold">LLAMADAS</span><br/> PAGA LO QUE HABLES</p>
                        <p class="lead" Style="text-align: center; font-weight: bold"> <span style="font-weight: bold">DATOS</span><br/> Sin datos</p>
                        <div style="padding: auto" id="boton"><button type="button" style="width: 100%;" class="btn btn-success">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title" Style="color: #2780E3; text-align: center; font-weight: bold">SIN MIN + 1GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold">4,95€/mes</h3>
                        <p class="lead" Style="text-align: center; font-weight: bold"> <span style="font-weight: bold">LLAMADAS</span><br/> PAGA LO QUE HABLES</p>
                        <p class="lead" Style="text-align: center; font-weight: bold"> <span style="font-weight: bold">DATOS</span><br/> 1GB
                        </p>
                        <div style="padding: auto" id="boton"><button type="button" style="width: 100%;" class="btn btn-success">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title" Style="color: #2780E3; text-align: center; font-weight: bold">SIN MIN + 2GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold">5,95€/mes</h3>
                        <p class="lead" Style="text-align: center; font-weight: bold"> <span style="font-weight: bold">LLAMADAS</span><br/> PAGA LO QUE HABLES</p>
                        <p class="lead" Style="text-align: center; font-weight: bold"> <span style="font-weight: bold">DATOS</span><br/> 2GB
                        </p>
                        <div style="padding: auto" id="boton"><button type="button" style="width: 100%;" class="btn btn-success">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">SIN MIN + 4GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">10,95€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold"><span style="font-weight: bold">LLAMADAS</span></span><br/> PAGA LO QUE HABLES</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 4GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row justify-content-between " id="100min ">
                <div class="col-6 col-sm-4 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">100 MIN</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">3,5€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold"><span style="font-weight: bold">LLAMADAS</span></span><br/> 100 MINUTOS</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> Sin datos</p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">100 MIN + 1 GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">8,45€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold"><span style="font-weight: bold">LLAMADAS</span></span><br/> 100 MINUTOS</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 1GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">100 MIN + 2GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">9,45€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold"><span style="font-weight: bold">LLAMADAS</span></span><br/> 100 MINUTOS</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 2GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">100 MIN + 4GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">14,45€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold"><span style="font-weight: bold">LLAMADAS</span></span><br/> PAGA LO QUE HABLES</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 4GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row justify-content-between " id="200min ">
                <div class="col-6 col-sm-4 col-md-3" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">200 MINUTOS</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">5,5€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold"><span style="font-weight: bold">LLAMADAS</span></span><br/> 200 MINUTOS</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> Sin datos</p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">200 MIN + 1GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">10,45€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> 200 MINUTOS</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 1GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">200 MIN + 2GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">11,45€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> 200 MINUTOS</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 2GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">200 MIN + 4GB</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">16,45€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> 200 MINUTOS</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> 4GB
                        </p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row justify-content-center " id="300min ">
                <div class="col-6 col-md-6" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">300 MIN, SIN DATOS</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">8,95€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> 300 Minutos</p>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">DATOS</span><br/> Sin datos</p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
                <div class="col-6 col-md-6" id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">3000 MIN, SIN DATOS</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">9,95€/mes</h3>
                        <p class="lead " Style="text-align: center "> <span style="font-weight: bold">LLAMADAS</span><br/> 3000 Minutos</p>
                        <p class="lead " Style="text-align: center "><span style="font-weight: bold">DATOS</span><br/> Sin datos</p>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row justify-content-center ">
                <div class="col-6 " id="Basico">
                    <div id="interno">
                        <br/><br/>
                        <h3 class="card-title " Style="color: #2780E3; text-align: center; font-weight: bold ">SERVICIO FIJO DE MOVIL</h3>
                        <h3 Style="color: #2780E3; text-align: center; font-weight: bold ">9,68€/mes</h3>
                        <br/><br/>
                        <div style="padding: auto " id="boton"><button type="button " routerLink="/localizacion" routerLink="/localizacion" routerLink="/localizacion" style="width: 100%; " class="btn btn-success ">Saber Más</button></div>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>