<div class="card border-primary mb-3" style="padding: 20px">
    <div class="row" style="align-content: center">
        <div class="card-body" id="vero" class="col-md-4 col-sm-6 col-xs-12">

            <br/><br/>
            <h3 class="card-title" Style="color: #2780E3; text-align: center">BÁSICO 2Mb / 512K 9,99€/mes Sin limites 24 Horas Alta Gratuita Router Wifi de Regalo No necesitas Linea telefónica</h3>
            <button>Saber Más</button>
        </div>
        <div class="card-body" id="carmen" class="col-md-3 col-sm-6 col-xs-12" style="margin: 0 auto;">

            <br/><br/>
            <h3 class="card-title" Style="color: #2780E3; text-align: center">BÁSICO 2Mb / 512K 9,99€/mes Sin limites 24 Horas Alta Gratuita Router Wifi de Regalo No necesitas Linea telefónica</h3>

            <button>Saber Más</button>
        </div>
        <div class="card-body" id="sonia" class="col-md-4 col-sm-6 col-xs-12">

            <br/><br/>
            <h3 class="card-title" Style="color: #2780E3; text-align: center">BÁSICO 2Mb / 512K 9,99€/mes Sin limites 24 Horas Alta Gratuita Router Wifi de Regalo No necesitas Linea telefónica</h3>
            <button>Saber Más</button>
        </div>
    </div>
</div>