<div style="width: 100%;margin-bottom: 2%;padding-bottom: 5%">
    <div style="padding-left: 5%;padding-right: 5%">
        <h3>TARIFAS DE TELEFONIA FIJA</h3>
        <h4>Por calidad y cercania</h4>
        <hr style="color: #2780E3" size="5" />
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">

                <p class="lead"> Nuestro servicio de teléfono es la aplicación de una tecnología tan novedosa como el VoIP, que se traduce en que su voz no viaja como impulsos eléctricos por la linea de cobre, como la tecnología tradicional, sino que lo hace como datos
                    digitales a través de nuestras redes de telecomunicacíon, debidamente encriptada y segura
                </p>
                <br/><br/>
                <ul>
                    <li type="circle">Linea de teléfono</li>
                    <li type="circle">Compatible con teleasistencia</li>
                    <li type="circle">Identeificacion de llamadas</li>
                    <li type="circle">Portabilidad gratuita</li>
                    <li type="circle">Cuota de linea gratis</li>
                    <li type="circle">Sin permanencia</li>
                    <li type="circle">Alta + instalación 40€</li>
                </ul>
            </div>
            <div style=" background-color: white" class="col-12 col-md-4" id="redondo">
                <br/><br/>
                <h3 class="card-title" Style="color: rgb(227, 130, 39); text-align: center; font-weight: bold">FIJO TOTAL</h3>
                <h3 Style="color:rgb(227, 130, 39); text-align: center; font-weight: bold">15,2€/mes</h3>
                <p class="lead" Style="text-align: center"> LLAMADAS<br/> Alta Gratuita</p>
                <p class="lead" Style="text-align: center"> TELEASISTENCIA<br/> No necesitas Linea telefónica</p>
                <p class="lead" Style="text-align: center"> SERVICIO<br/> No necesitas Linea telefónica</p>
                <p class="lead" Style="text-align: center"> CUOTA DE LINEA<br/> No necesitas Linea telefónica</p>
                <div style="padding: auto;color: rgb(227, 130, 39)"><button type="button" style="width: 100%;" class="btn " routerLink="/localizacion">Saber Más</button></div>
                <br/><br/>
            </div>
        </div>
    </div>
</div>