img {
    min-width: 100%;
    width: 100%;
    height: offsetWidth * 20;
    padding: 10px;
    box-shadow: 0px 5px 20px #999;
}
#capa1 {
    position: relative;
    z-index:1;
}
#capa2{ position:absolute;
        z-index:0;
} 

#capa1:hover {
    opacity: 0.1;
}