img {
    min-width: 100%;
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 20px #999;
}
#video{
    position:fixed;
    bottom: 5px;
    right: 20px;
    max-width: 380px;
    max-height: 300px;
    width: 380px;
    height: 300px;  
    z-index:2;
}
#capa1 {
    position: relative;
    display: flex;
    z-index:1;
}
.card-body{
    margin-bottom: 10px;
}
#capa2{ 
    position: absolute;
    text-align: center;
    min-width: 100%;
    z-index:0;
    top: 40%;
    right: 2%;
    overflow: hidden;
    padding-left: 30px;
} 

#capa1:hover {
    opacity: 0.1;
}
.contenedor {
    display: block;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    position:relative; 
    padding-bottom: 20px;
    width: 90%; 
    height:350px; 
    background:url("assets/img/servicios/4.jpg"); 
    background-size:100% 100%; 
     color:#fff;
     font-family: 'verdana';
}     
.contenedor h1{
     margin: 0px 0px 0px 10px;
     position:absolute; 
     left:0px;
     top:30px; 
     transform:translateX(-120%);
     transition:all .5s ease;
} 
.contenedor p{
     margin: 0px 0px 0px 20px;
     position:absolute; 
     left:0px;
     top:100px; 
     transform:translateX(-120%); 
     transition:all .4s ease;  
}     
.contenedor:before{ 
    position: absolute;
    top:335px; 
    left:20px;
    content:""; 
    width:0%; 
    height:3px; 
    background:#fff;
    transition:all .3s ease;
} 
.contenedor:after{ 
    position: absolute; 
    top:10px; 
    right:20px; 
    content:""; 
    width:0%; 
    height:3px; 
    background:#fff;
    transition:all .3s ease;
} 
    
.contenedor:hover:before{ 
    width: 90%;
}
.contenedor:hover:after {
    width: 90%;
}
.contenedor:hover h1,.contenedor:hover p{
    transform:translateX(0%); 
    transition:all .3s ease;
}
.contenedor:hover{
    background-size: 110% 110%;
    transition:all .5s ease;
}