<div class="container card border-primary mb-3" style="padding: 20px">
    <div class="row" style="align-content: center">
        <div class="card-body" id="1" class="col-md-4 col-sm-6 col-xs-12">
            <img src="assets/img/servicios/1.jpg" class="img-responsive">
        </div>
        <div class="card-body" id="2" class="col-md-3 col-sm-6 col-xs-12">
            <img src="assets/img/servicios/2.jpg" class="img-responsive">
        </div>
        <div class="card-body" id="3" class="col-md-4 col-sm-6 col-xs-12">
            <img src="assets/img/servicios/3.jpg" class="img-responsive">
        </div>
    </div>
    <div class="row" style="align-content: center">
        <div class="card-body" id="4" class="col-md-4 col-sm-6 col-xs-12">
            <img src="assets/img/servicios/4.jpg" class="img-responsive">
        </div>
        <div class="card-body" id="5" class="col-md-4 col-sm-6 col-xs-12">
            <img src="assets/img/servicios/5.jpg" class="img-responsive">
        </div>
        <div class="card-body" id="6" class="col-md-4 col-sm-6 col-xs-12">
            <img src="assets/img/servicios/6.jpg" class="img-responsive">
        </div>
    </div>
</div>