<div style="margin-bottom: 3%" class="contenedor img-fluid d-none d-lg-block" alt="Responsive image">
    <h1>Prueba</h1>
    <p>texto de prueba</p>
</div>
<div class="container" id="img-responsive">
    <carousel [noPause]="noPause">
        <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" class="img-fluid" alt="Responsive image">
        </slide>
    </carousel>
</div>
<div class="container card border-primary mb-3" style="padding: 20px;margin-bottom: 2%;margin-top: 2%">
    <div class="row">
        <div class="card-body" class="col-6 col-sm-4">
            <div id="capa2">
                <h2>Telecomunicaciones</h2>
            </div>
            <img src="assets/img/servicios/1.jpg" class="img-responsive" id="capa1">
        </div>
        <div class="card-body" class="col-6 col-sm-4">
            <div id="capa2">
                <h2>Servicios eléctricos</h2>
            </div>
            <img src="assets/img/servicios/2.jpg" class="img-responsive" id="capa1">
        </div>
        <div class="card-body" class="col-6 col-sm-4">
            <div id="capa2">
                <h2>Alarma y videovigilancia</h2>
            </div>
            <img src="assets/img/servicios/3.jpg" class="img-responsive" id="capa1">
        </div>
        <div class="card-body" class="col-6 col-sm-4">
            <div id="capa2">
                <h2>Antenas de television y parabolicas</h2>
            </div>
            <img src="assets/img/servicios/4.jpg" id="capa1">
        </div>
        <div class="card-body" class="col-6 col-sm-4">
            <div id="capa2">
                <h2>videoportero</h2>
            </div>
            <img src="assets/img/servicios/5.jpg" id="capa1">
        </div>
        <div class="card-body" class="col-6 col-sm-4">
            <div id="capa2">
                <h2>Trabajos con dron</h2>
            </div>
            <img src="assets/img/servicios/6.jpg" id="capa1">
        </div>
    </div>
</div>