<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div id="img-responsive" style="background-color: #3a3791" class="navbar-brand" [routerLink]="['servicios']">
        <a><img src="assets/img/1.png" style="width: 100%;"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarColor01" id="opciones">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['servicios']">Servicios</a>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['internet']">Internet</a>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['movil']">Teléfono</a>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['internetmovil']">Internet + Movil</a>
                </li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['localizacion']">Contacto</a>
                </li>
        </ul>
    </div>
</nav>

<p></p>